*{
    margin:0px;
    padding: 0px;

   
}

body{
     overflow-x: hidden;
    /* padding-top: 230px; */
}

section{
    /* display: block; */
}

a{
    text-decoration: none;
    text-align: center;
    /* color: black; */
}

ul, li{
    list-style: none;
    text-align: center;
    display: inline-block;
}

#header{
    background-color: #f6f5ef;
    border-top: 2px solid black;
    border-bottom: 1px solid #e5e5e5;
    width: 100%;
    height: 120px;
    position: fixed;
    
    left: 0;
    top: 0;

    z-index: 10;
    
    
}

#container {
    /* position: relative; */
    width: 100%;
    margin-top:120px ;
    /* height: 1200px; */
    /* background: url(images/pick_your/fav_prod_bg_new.jpg); */
    
}

#footer{

}
.inner{
    width: 1100px;
    /* background-color: rgb(255, 151, 151); */
    margin: auto;
}

/* ****************************************************************/
/* header - nav */

.logo{
    margin: 20px 0px;
    display: inline-block;
}
.nav-info{
    /* position: absolute; */
    /* left: 500; */
    /* top: 5px; */
    margin: 10px;
    float: right;
}

.nav-info ul li{
    font: normal 13px Avenir, Arial, georgia;;
    /* font-size: 15px; */
    padding: 0 15px;
    border-right: 1px solid rgb(150, 150, 150);
    /* display: inline-block; */
    line-height: 20px;
}
.nav-info ul li:last-child{
    border-right: 0;
}
.nav-info ul li a{
    color: #555;
}

.nav-menu{
    position: absolute;
    /* display: block; */
    top: 55px;
    margin-top: 10px;
    float: right;
    

    /* width: 100%; */
    /* left: 0; */
    /* margin: 0 auto; */
    
    /* width: 100%; */
     /* display: block; */
     /* float: right; */
      /* left: 0; */
    /* font-size: 15px; */
}

.nav-menu ul{
    float: right;
    /* display: inline-block; */
}

/* #nav-menu__title{
    height: 56px;
    line-height: 56px;
} */


.nav-menu ul li{
    /* float: left; */
    box-sizing: border-box;
    padding: 10px;
    vertical-align: baseline;
    margin-right: 20px;
    height: 56px;
    /* display: inline-block; */
}

.nav-menu ul li a{
    font: normal 13px Avenir, Arial, georgia;
}
.nav-menu ul li:hover{
    background-color: #2c2a29;
    color: #669900 ;
    text-decoration: underline;
}

.nav-menu ul li:hover .sub-menu{
    display: block;
    
    
    /* box-sizing: content-box; */
    /* padding: 0px 100px; */
    /* width: 1100px; */
}



.sub-menu{
    display: none;
    background-color: #2c2a29;
    position: absolute;
    width: 100vw;
    left: -410px;
    top: 55px;
    color: white;
    margin: auto;
    box-sizing: border-box;
    padding-top: 20px ;
}
.sub-menu-main ul li:hover{
    
    color: #555;
    /* padding: 5px; */
    /* font-size: 12px; */
} 
.sub-menu-main ul{
    float: left;
    margin-right: 30px;
    margin-bottom: 30px;
    /* margin: auto; */
    /* margin:10px; */
}
.sub-menu ul li{
    display: block;
    padding: 5px;
    font-size: 14px;
    color: #555;
    height: 30px;
    text-align: left;
    
}
#sub-menu-main__title{
    font-size: 16px;
    color: white;
}

.sub-menu-text{
    display: inline-block;
    min-height: 30px;
    width: 100%;
    /* margin: auto; */
    padding: 30px 0px;
    text-align: left;
    background: url(images/헤더/gnb_sub_txbg.jpg);
}
.sub-menu-text p{
    width: 1100px;
    margin: auto;
}
.sub-menu-main{
    width: 1100px;
    margin: auto;
    
    /* position: relative;
    width: 100%; */
}




.search_btn{
    border: 1px solid #ccc;
    border-radius: 5px;
    text-align: center;
    display: inline-block;
    /* padding: 10px; */
    margin: auto;
    box-sizing: border-box;
    width: 34px;
    height: 34px;
}

.search_btn input{
    display: none;
}


/* */


/* ****************************************************************/
/* container */
.banner_card{
    position: fixed;
    left: 1520px;
    top: 160px;
    cursor: pointer;
    z-index: 11;
}

/* 뉴 스프링 메뉴 */
.new_spring_menu_page{
    background: center/cover no-repeat url(images/bring_new_spring/2022_Spring2_main_bg2.jpg);
    /* position: relative; */
    height: 646px;
    width: 100%;
}

.new_spring_menu_page-inner{
    position: relative;
}

.new_spring__title,
.new_spring__menus img,
.new_spring__detail {
    position: absolute;
}


.new_spring__title {
    /* display: inline-block; */
    margin: 30px;
    top: 30px;
    left: -27px;
}

.new_spring__detail{
    width: 355px;
    text-align: center;
    top: 254px;
    left: 5px;
}
.new_spring__detail button {
    font-size: 16px;
    line-height: 18px;
    border: 2px solid #e95a87;
    border-radius: 5px;
    width: 129px;
    background: transparent;
    padding: 10px;
    color: #e95a87;
    cursor: pointer;
    /* margin: 0 auto; */
}

.new_spring__detail button:hover{
    text-decoration: underline;
}
    /* transition: background-color .5s; */
    /* -webkit-transition: background-color .5s; */


.new_spring__menus div:nth-child(1) img{
    top: 41px;
    left: 442px;
}

.new_spring__menus div:nth-child(2) img{
    top: 208px;
    left: 195px;
}

.new_spring__menus div:nth-child(3) img{
    top: 118px;
    left: 832px;
}

/* 공지사항 및 프로모션 */
.notice_and_promotion_page{
    height: 62px;
    width: 100%;
    display: block;
    position: relative;
}



.notice_box_left{
    width: 55%;
    height: 62px;
    background-color: #111;
    position: absolute;
    top: 0;
    left: 0;
}

.promotion_box_right{
    width: 45%;
    height: 62px;
    background-color: #f6f5ef;
    position: absolute;
    top: 0;
    right: 0;
}

.box-inner{
    position: relative;
}

.notice_box{
    width: 57%;
    position: absolute;
    box-sizing: border-box;
    padding: 10px;
    height: 62px;
    top: 0px;
    left: 0px;
    color: white;

    /* margin-top: 10px; */
    
  
    /* line-height: 20px; */
    /* display: inline-block; */
    /* color: white; */
}

.notice_title{
    font-size: 16px;
    margin-right: 10px;
    margin-top: 8px;
    display: inline-block;
    /* color: white; */
    width: 68px;
    font-weight: bold;
   
}
.notice_list{
   display: inline-block;
   /* width: 100px; */
 
    
}
.notice_box a{
    /* width: 20px;
    /* float: right; */
    /* line-height: 30px; */
 
    /* width: 50px;
    height: 50px; */
    
    /* display: inline-block;
    margin-left: 30px;  */

}



.notice_box img{
    display: inline-block;
    width: 36px;
    float: right;
}

.notice_box ul li{
    display: none;
    overflow: hidden;
    /* height: 60px; */
    font-size: 13px;
    width: 300px;
}
.notice_box ul li:hover{
    text-decoration: underline;
   
}
#active{
    display: inline;
    color: #ffffff;
}

.promotion_box{
    position: absolute;
    height: 62px;
    top: 0;
    right: 0;
    

    /* display: inline-block; */
}
.promotion_title{
    display: inline-block;
    color: rgb(46, 43, 43);
    font-size: 16px;
    line-height: 50px;
    font-weight: bold;
    vertical-align: top;
    margin-top: 13px;
}

.promotion_box img{
    display: inline-block;
    margin: 20px 0px 20px 50px;

}

/* 프로모션 배너 보여주기 */
.promotion_banners{
    /* 누르면 display 보이게 해 줄 예정..!! */
    display: none; 
    background-color: #f6f5ef;
    /* margin-top: 40px; */
    padding-top: 40px;
    height: 658px;
    position: relative;
    overflow: hidden;
}
.promotion_banners ul{
   
    white-space: nowrap;
}

.promotion_banners li{
    margin: 0px 10px;
  
}

.promotion_banners img{
    
}

.promotion_banners a{
    border: 2px solid #222;
    border-radius: 3px;
    color: #222;
    /* background-color: transparent; */
    text-align: center;
    width: 120px;
    display: block;
    margin: auto;
    margin-top: 5px;
    padding: 8px;
    font-size: 15px;
}
.arrow_inner{
    /* display: inline-block; */
    width: 1100px;
    height: 100%;
    margin: auto;
    position: relative;
}

.arrow_left{
    position: absolute;
    border: 2px solid #222;
    border-radius: 50%;
    width: 51px;
    height: 51px;
    text-align: center;
 
    line-height: 63px;
    top: -360px;
    left: 0;
    cursor: pointer;
}

.arrow_right{
    position: absolute;
    border: 2px solid #222;
    border-radius: 50%;
    width: 51px;
    height: 51px;
    text-align: center;
    line-height: 63px;
    right: 0;
    top: -360px;
    cursor: pointer;
}

.arrow_left:hover,
.arrow_right:hover{
    background-color: white;
    transition: all 2s;
}

/* 스타벅스 리워드 */
.rewards_page{
    background-color: #1e3932;
    box-sizing: border-box;
    padding: 30px 0px 50px 0px;
 
}
.rewards_page_img_box{
    width: 20%;
    display: inline-block;
}
.rewards_page img{
    width: 176px;
    margin: 0px 40px;
    float: left;
}

.rewards_page_text_box{
    width: 80%;
    float: right;
    display: block;
    height: 100%;
    
}
.rewards_page_top{
    position: relative;
    margin: 10px;
    display: block;
    color: white;
    font-size: 17px;
    border-bottom: 1px solid #4b615b;
    margin-left: 40px;
    padding-bottom: 20px;
}
.rewards_page_top h2{
    margin-bottom: 12px;
}

.rewards_page_text_box a{
    position: absolute;
    font-size: 14px;
    color: white;
    border-radius: 5px;
    box-sizing: border-box;
}
.rewards_page_text_box a:hover{
    text-decoration: underline;
}
.rewards_page_top__btn_1{
    top: 53px;
    right: 102px;
    
    padding: 8px 18px;
    border: 2px solid #00704a;
    background-color: #00704a;
}

.rewards_page_top__btn_2{
    top: 53px;
    right: 9px;
    padding: 8px 18px;
    border: 2px solid white;
    background-color: transparent;

}

.rewards_page_bottom{
    position: relative;
    display: block;
    color: white;
    margin-left: 40px;
    font-size: 14px;
}

.rewards_page_bottom a{
    top: 0;
    right: 14px;
    padding: 8px 30px;
    border: 2px solid white;
    background-color: transparent;
}

/* 스프링 시즌 원두 */
.spring_season_blend_page{
    background: url(images/스프링시즌블렌드/2022_Spring_bean_bg_1.jpg);
}

/* 인도네시아 자바 */
.indonesia_page{
    
    background: url(images/인도네시아_자바/reserve_2022_indonesia_visual_bg.jpg);
}

.indonesia_page_inner{
    position: relative;
    /* width: 100%; */
    height: 400px;
    overflow: hidden;

}

.indonesia_coffee_img {
    position: absolute;
    max-width: none;
    left: -400px;
    bottom: 0;

}

.favorite_page{

    background: url(images/pick_your/fav_prod_bg_new.jpg);
}

.reserve_magazine_page{
    background: url(images/리저브_매거진/reserve_bg_pc.png);
}

.find_store_page{
    background: url(images/스타벅스_매장/store_bg.jpg);
}

/* ****************************************************************/
/* footer */