*{
    margin:0px;
    padding: 0px;

   
}

body{
    overflow-x: hidden; 
    /* padding-top: 230px; */
}

section{
    /* display: block; */
}

a{
    text-decoration: none;
    text-align: center;
    /* color: black; */
}

ul, li{
    list-style: none;
    text-align: center;
    display: inline-block;
}

#header{
    background-color: #f6f5ef;
    border-top: 2px solid black;
    border-bottom: 1px solid #e5e5e5;
    width: 100%;
    height: 120px;
    position: fixed;
    
    left: 0;
    top: 0;

    z-index: 10;
    
    
}

#container {
    /* position: relative; */
    width: 100%;
    margin-top:120px ;
    /* height: 1200px; */
    /* background: url(images/pick_your/fav_prod_bg_new.jpg); */
    
}

#footer{
    background: #2C2A29;
    padding: 40px 0px;
}
.inner{
    width: 1100px;
    margin: auto;
}

/* ****************************************************************/
/* header - nav */

.logo{
    margin: 20px 0px;
    display: inline-block;
}
.nav-info{
    /* position: absolute; */
    /* left: 500; */
    /* top: 5px; */
    margin: 10px;
    float: right;
}

.nav-info ul li{
    font: normal 13px Avenir, Arial, georgia;;
    /* font-size: 15px; */
    padding: 0 15px;
    border-right: 1px solid rgb(150, 150, 150);
    /* display: inline-block; */
    line-height: 20px;
}
.nav-info ul li:last-child{
    border-right: 0;
}
.nav-info ul li a{
    color: #555;
}

.nav-menu{
    position: absolute;
    /* display: block; */
    width: 100%;
    top: 55px;
    left: 0;
    margin-top: 10px;

    /* float: right; */
    /* width: 100%; */
    /* left: 0; */
    /* margin: 0 auto; */
    
    /* width: 100%; */
     /* display: block; */
     /* float: right; */
      /* left: 0; */
    /* font-size: 15px; */
}


.nav-menu ul{
    float: right;
    /* display: inline-block; */
}

/* #nav-menu__title{
    height: 56px;
    line-height: 56px;
} */


.nav-menu ul li{
    /* float: left; */
    box-sizing: border-box;
    padding: 10px;
    vertical-align: baseline;
    margin-right: 20px;
    height: 56px;
    /* display: inline-block; */
}

.nav-menu ul li a{
    font: normal 13px Avenir, Arial, georgia;
}
.nav-menu ul li:hover{
    background-color: #2c2a29;
    color: #669900 ;
    text-decoration: underline;
    
    /* opacity: 1; */
    /* transition: all ease 1s; */
}

.nav-menu ul li:hover .sub-menu{
    /* opacity: 1; */
    /* display: block; */
    max-height: 100vh;
    transition: all ease 2s;
}

.sub-menu{
    /* opacity: 0; */
    /* display: none; */
    max-height: 0px;
    overflow: hidden;
    background-color: #2c2a29;
    position: absolute;
    /* width: auto; */
    width: 100vw;
    /* left: -410px; */
    left: 0;
    top: 55px;
    color: white;
    margin: auto;
    box-sizing: border-box;
    /* padding-top: 20px ; */
}
.sub-menu-main ul li:hover{

    color: #555;
    /* padding: 5px; */
    /* font-size: 12px; */
} 
.sub-menu-main ul{
    float: left;
    padding-top: 20px;
    margin-right: 30px;
    margin-bottom: 30px;
    /* margin: auto; */
    /* margin:10px; */
}
.sub-menu ul li{
    display: block;
    padding: 5px;
    font-size: 14px;
    color: #555;
    height: 30px;
    text-align: left;
    
}
#sub-menu-main__title{
    font-size: 16px;
    color: white;
}

.sub-menu-text{
    display: inline-block;
    margin-bottom: 5px;
    min-height: 30px;
    width: 100%;
    /* margin: auto; */
    padding: 30px 0px;
    text-align: left;
    background: url(images/헤더/gnb_sub_txbg.jpg);
}
.sub-menu-text p{
    width: 1100px;
    margin: auto;
}
.sub-menu-main{
    width: 1100px;
    margin: auto;
    
    /* position: relative;
    width: 100%; */
}




.search_btn{
    border: 1px solid #ccc;
    border-radius: 5px;
    text-align: center;
    display: inline-block;
    /* padding: 10px; */
    margin: auto;
    box-sizing: border-box;
    width: 34px;
    height: 34px;
}

.search_btn input{
    display: none;
}


/* */


/* ****************************************************************/
/* container */
.banner_card{
    position: fixed;
    left: 1520px;
    top: 160px;
    cursor: pointer;
    z-index: 11;
}

/* 뉴 스프링 메뉴 */
.new_spring_menu_page{
    background: center/cover no-repeat url(images/bring_new_spring/2022_Spring2_main_bg2.jpg);
    /* position: relative; */
    height: 646px;
    width: 100%;
}

.new_spring_menu_page-inner{
    position: relative;
}

.new_spring__title,
.new_spring__menus img,
.new_spring__detail {
    position: absolute;
}


.new_spring__title {
    opacity: 0;
    /* display: inline-block; */
    margin: 30px;
    top: 30px;
    left: -27px;

 }

.new_spring__detail{
    opacity: 0;
    width: 355px;
    text-align: center;
    top: 254px;
    left: 5px;
}
.new_spring__detail button {
    font-size: 16px;
    line-height: 18px;
    border: 2px solid #e95a87;
    border-radius: 5px;
    width: 129px;
    background: transparent;
    padding: 10px;
    color: #e95a87;
    cursor: pointer;
}

.new_spring__detail button:hover{
    text-decoration: underline;
}


.new_spring__menus div:nth-child(1) img{
    opacity: 0;
    top: 41px;
    left: 442px;
}
        
.new_spring__menus div:nth-child(2) img{
    opacity: 0;
    top: 208px;
    left: 195px;
}

.new_spring__menus div:nth-child(3) img{
    opacity: 0;
    top: 118px;
    left: 832px;
}

/* 공지사항 및 프로모션 */
.notice_and_promotion_page{
    height: 62px;
    width: 100%;
    display: block;
    position: relative;
}

.notice_box_left{
    width: 55%;
    height: 62px;
    background-color: #111;
    position: absolute;
    top: 0;
    left: 0;
}

.promotion_box_right{
    width: 45%;
    height: 62px;
    background-color: #f6f5ef;
    position: absolute;
    top: 0;
    right: 0;
}

.box-inner{
    position: relative;
}

.notice_box{
    width: 57%;
    position: absolute;
    box-sizing: border-box;
    padding: 10px;
    height: 62px;
    top: 0px;
    left: 0px;
    color: white;

    /* margin-top: 10px; */
    
  
    /* line-height: 20px; */
    /* display: inline-block; */
    /* color: white; */
}

.notice_title{
    font-size: 16px;
    margin-right: 10px;
    margin-top: 8px;
    display: inline-block;
    /* color: white; */
    width: 68px;
    font-weight: bold;
   
}
.notice_list{
   display: inline-block;
   /* width: 100px; */
 
    
}
.notice_box a{
    /* width: 20px;
    /* float: right; */
    /* line-height: 30px; */
 
    /* width: 50px;
    height: 50px; */
    
    /* display: inline-block;
    margin-left: 30px;  */

}



.notice_box img{
    display: inline-block;
    width: 36px;
    float: right;
}

.notice_box ul li{
    display: none;
    overflow: hidden;
    /* height: 60px; */
    font-size: 13px;
    width: 300px;
}
.notice_box ul li:hover{
    text-decoration: underline;
   
}
#active{
    display: inline;
    color: #ffffff;
}

.promotion_box{
    position: absolute;
    height: 62px;
    top: 0;
    right: 0;
    

    /* display: inline-block; */
}
.promotion_title{
    display: inline-block;
    color: rgb(46, 43, 43);
    font-size: 16px;
    line-height: 50px;
    font-weight: bold;
    vertical-align: top;
    margin-top: 13px;
}

.promotion_box img{
    display: inline-block;
    margin: 20px 0px 20px 50px;

}

/* 프로모션 배너 보여주기 */
.promotion_banners{
    /* 누르면 display 보이게 해 줄 예정..!! */
    display: none; 
    background-color: #f6f5ef;
    /* margin-top: 40px; */
    padding-top: 40px;
    height: 658px;
    position: relative;
    overflow: hidden;
}
.promotion_banners ul{
   
    white-space: nowrap;
}

.promotion_banners li{
    margin: 0px 10px;
  
}

.promotion_banners img{
    
}

.promotion_banners a{
    border: 2px solid #222;
    border-radius: 3px;
    color: #222;
    /* background-color: transparent; */
    text-align: center;
    width: 120px;
    display: block;
    margin: auto;
    margin-top: 5px;
    padding: 8px;
    font-size: 15px;
}
.arrow_inner{
    /* display: inline-block; */
    width: 1100px;
    height: 100%;
    margin: auto;
    position: relative;
}

.arrow_left{
    position: absolute;
    border: 2px solid #222;
    border-radius: 50%;
    width: 51px;
    height: 51px;
    text-align: center;
 
    line-height: 63px;
    top: -360px;
    left: 0;
    cursor: pointer;
}

.arrow_right{
    position: absolute;
    border: 2px solid #222;
    border-radius: 50%;
    width: 51px;
    height: 51px;
    text-align: center;
    line-height: 63px;
    right: 0;
    top: -360px;
    cursor: pointer;
}

.arrow_left:hover,
.arrow_right:hover{
    background-color: white;
    transition: all 2s;
}

/* 스타벅스 리워드 */
.rewards_page{
    background-color: #1e3932;
    box-sizing: border-box;
    padding: 30px 0px 50px 0px;
 
}
.rewards_page_img_box{
    width: 20%;
    display: inline-block;
}
.rewards_page img{
    width: 176px;
    margin: 0px 40px;
    float: left;
}

.rewards_page_text_box{
    width: 80%;
    float: right;
    display: block;
    height: 100%;
    
}
.rewards_page_top{
    position: relative;
    margin: 10px;
    display: block;
    color: white;
    font-size: 17px;
    border-bottom: 1px solid #4b615b;
    margin-left: 40px;
    padding-bottom: 20px;
}
.rewards_page_top h2{
    margin-bottom: 12px;
}

.rewards_page_text_box a{
    position: absolute;
    font-size: 14px;
    color: white;
    border-radius: 5px;
    box-sizing: border-box;
}
.rewards_page_text_box a:hover{
    text-decoration: underline;
}
.rewards_page_top__btn_1{
    top: 53px;
    right: 102px;
    
    padding: 8px 18px;
    border: 2px solid #00704a;
    background-color: #00704a;
}

.rewards_page_top__btn_2{
    top: 53px;
    right: 9px;
    padding: 8px 18px;
    border: 2px solid white;
    background-color: transparent;

}

.rewards_page_bottom{
    position: relative;
    display: block;
    color: white;
    margin-left: 40px;
    font-size: 14px;
}

.rewards_page_bottom a{
    top: 0;
    right: 14px;
    padding: 8px 30px;
    border: 2px solid white;
    background-color: transparent;
}

/* 스프링 시즌 원두 */
.spring_season_blend_page{
    background: url(images/스프링시즌블렌드/2022_Spring_bean_bg_1.jpg);
    position: relative;
    height: 572px;
    width: 100%;
    /* height: 100%; */
}

.spring_season_blend_page::before{
    /* background: no-repeat url(images/스프링시즌블렌드/2022_Spring_bean_left_bg_1.png); */
    content:  url(images/스프링시즌블렌드/2022_Spring_bean_left_bg_1.png);
    /* width: 25%;
    height: 100%; */
    top: 0;
    left: 0;
    position: absolute;   
}
.spring_season_blend_page::after{
    /* background: no-repeat url(images/스프링시즌블렌드/2022_Spring_bean_right_bg_1.png); */
    content: url(images/스프링시즌블렌드/2022_Spring_bean_right_bg_1.png);
    /* width: 25%;
    height: 100%; */
    position: absolute;
    top:0;
    right: 0;
}
.spring_season_blend_img img{
    /* margin: 20px; */
    position: relative;
    top: 93px;
    left: -800px;
    z-index: 1;
    opacity: 0;
    /* -700px이였다가 효과후 169px */
}

.spring_season_blend_txt { 
    position: relative;
    display: inline-block;
    top: -235px;
    left: 1700px;
    z-index: 1;
    opacity: 0;
    /* 1200px 효과 후 629px */
}

.spring_season_blend_txt a{
    /* position: relative;
    top: 0;
    right: 0; */
    width: 124px;
    display: block;
    margin-top: 28px;
    border: 2px solid #e95a87;
    box-sizing: border-box;
    font-size: 14px;
    border-radius: 5px;
    padding: 7px;
    color: #e95a87;
}
.spring_season_blend_txt a:hover{
    text-decoration: underline;
}

/* 인도네시아 자바 */
.indonesia_page{
    background: url(images/인도네시아_자바/reserve_2022_indonesia_visual_bg.jpg);
    position: relative;
    overflow: hidden ;

    
}

/* .indonesia_page::before{
   
    content: url(images/인도네시아_자바/reserve_2022_indonesia_leaf1.png);
    position: absolute;
  
    top: 127px;
    left: 0;
   
}

.indonesia_page::after{
    
    content: url(images/인도네시아_자바/reserve_2022_indonesia_leaf2.png);
    position: absolute;
   
    top: 99px;
    right: 0;
  

} */

.indonesia_page_inner{
    position: relative;
    height: 400px;
    /* overflow: hidden; */
    /* margin: auto; */
}

.indonesia_coffee_logo{
    display: block;
    padding-top: 122px;
    margin-left: -2px;
}

.indonesia_coffee_img::before{
    content: url(images/인도네시아_자바/reserve_2022_indonesia_leaf1.png);
    position: absolute;
    top: 127px;
    left: 0;
}
.indonesia_coffee_img::after{
    content: url(images/인도네시아_자바/reserve_2022_indonesia_leaf2.png);
    position: absolute;
    top: 99px;
    right: 0;

}
.indonesia_coffee_img {
    opacity: 0;
    position: absolute;
    left: -478px;
    bottom: -4px;

}

.indonesia_coffee_btn{
    position: relative;
    /* width: 100px; */
    margin-top: 37px;
    margin-left: 256px;
    z-index: 10;
}

.indonesia_coffee_btn a{
    /* box-sizing: border-box; */
    font-size: 14px;
    color: #b9813e;
    border: 2px solid #b9813e;
    border-radius: 5px;
    /* width: 100px; */
    padding: 8px 23px;

    order: 1;
    cursor: pointer;
    /* z-index: 5; */
}

.indonesia_coffee_btn a:hover{
    background-color: #b9813e;
    color: white ;
    transition: all ease 1s;
}



/*  최애 메뉴 */
.favorite_page{
    background: center no-repeat fixed url(images/pick_your/fav_prod_bg_new.jpg);
    height: 800px;
    /* margin: 0; */
}
.favorite_page_inner{
    position: relative;
}
.favorite_page_logo{
    position: absolute;
    top: 129px;
    left: 100px;
}

.favorite_page_txt{
    position: absolute;
    top: 383px;
    left: 0;
}

.favorite_page_img{
    position: absolute;
    top: 111px;
    right: -121px;

}

.favorite_page_btn a{
    color: white;
    position: absolute;
    top: 575px;
    left: 233px;
    border: 2px solid white;
    box-sizing: border-box;
    padding: 8px 25px;
    border-radius: 5px;
    font-size: 15px;
}

.favorite_page_btn a:hover{
   background-color: white;
   color:#333;
   transition: all ease 0.8s;
   text-decoration: underline;
}





/* 리저브 매거진 */
.reserve_magazine_page{
    background: no-repeat url(images/리저브_매거진/reserve_bg_pc.png) 60% 100% /auto 88%;

   height: 400px;
    /* background: no-repeat url(images/리저브_매거진/reserve_bg_pc.png) 100% 100%/auto 80%; */
    /* background-size: auto 80%; */
    /* background-color: pink; */
    /* margin-top: 50px; */
}
.reserve_magazine_page_inner{
    position: relative;
}       
.reserve_magazine_page_logo{
    display: inline-block;
    width: 100%;
    margin: 130px 0px 30px 40px;
}
.reserve_magazine_page_img{
    /* display: inline-block; */
    position: absolute;   
    top: 0px;
    right: 78px;
}
.reserve_magazine_page_btn{
    width: 50%;
}
.reserve_magazine_page_btn a{
    /* display: inline-block; */
    font-size: 15px;
    border: 2px solid black;
    border-radius: 5px;
    box-sizing: border-box;
    padding: 8px 20px;
    color: black;
    /* width: 50%; */
    text-align: center;
    /* margin-left: 230px; */
    margin-right: 80px;
    float: right;
}

.reserve_magazine_page_btn a:hover{
    color: white;
    background-color: black;
    transition: all ease 0.8s;
    text-decoration: underline;
}

/* 매장 찾기 */
.find_store_page{
    background: url(images/스타벅스_매장/store_bg.jpg);
    height: 400px;
}
.find_store_page_inner{
    position: relative;
    /* width: 100%; */
    overflow: hidden;
    height: 100%;
}
.find_store_page_img_1{
    position: absolute;
    top: 148px;
    left: 291px;
    z-index: 1;
}
.find_store_page_img_2{
    position: absolute;
    top: 0;
    left: 56px;

}
.find_store_page_img_3{
    position: absolute;
    top: -57px;
    left: 413px;

}
.find_store_page_img_4{
    position: absolute;
    bottom: -4px;
    right: 0;

}
.find_store_page_txt_1{
    position: absolute;
    top: 103px;
    right: 84px;

}
.find_store_page_txt_2{
    position: absolute;
    top: 174px;
    right: 102px;

}
.find_store_page_btn a{
    position: absolute;
   
    top: 258px;
    right: 336px;

     font-size: 15px;
     border: 2px solid black;
     border-radius: 5px;
     box-sizing: border-box;
     padding: 8px 31px;
     color: black;
     /* width: 50%; */
     text-align: center;
     /* margin-left: 230px; */
     /* margin-right: 80px; */
     /* float: right; */
}

.find_store_page_btn a:hover{
    color: white;
    background-color: black;
    transition: all ease 0.8s;
    text-decoration: underline;
}
/* ****************************************************************/
/* footer */

.footer_inner{
    color: white;
    position: relative;
}

.footer_inner a{
    color: white;
   
}

.footer_menu{
    /* position: relative;
    right: 0;
    top: 0; */
    /* display: inline-block; */
    background: no-repeat right 0 url(images/footer/footer_logo.png);
    /* float: right; */
   
}

.footer_menu ul{
    display: inline-block;
    margin-right: 90px;
    margin-bottom: 100px;
    vertical-align: text-top;
    

}

.footer_menu ul li{
    display: block;
    /* float: left; */
    font-size: 12px;
    text-align: left;
    padding: 3px 0px;
}

.footer_menu ul li:hover{
    text-decoration: underline;
}

#footer_menu__title{
    font-size: 15px;
    margin-bottom: 20px;
}

.footer_awards{
    background-color: #282828;
    box-sizing: border-box;
    padding: 30px 0px 40px 0px;
}
.footer_awards_inner{
    width: 1210px;
    margin: auto;
}

.footer_awards ul li{
    display: inline-block;
}

.footer_copyright{
    padding-top: 30px;
}
.footer_copyright_inner{
    width: 1210px;
    margin: auto;
}
.footer_copyright__menu{
    font-size: 12px;
    padding-top: 30px ;
}

.footer_copyright__menu li{
    border-right: 1px solid #393939;
    padding: 0px 10px ;
    color: white;
}

.footer_copyright__menu li:hover{
    text-decoration: underline;
}

.footer_copyright__menu li:last-child{
    border-right: 0;

}

.footer_copyright__menu li:first-child a{
    color: #00b050 ;
    font-weight: bold;
    
}

.footer_copyright_btn{
    /* display: block; */
    /* width: 100%; */
    /* margin: auto; */
    padding-top: 13px;
    text-align: center;
    /* margin: auto; */
}

.footer_copyright_btn a{
    /* margin: auto; */
    display: inline-block;

    border: 2px solid white;
    border-radius: 3px;
    padding: 7px 17px;
    box-sizing: border-box;
    font-size: 12px;
}

.footer_copyright_btn a:hover{
    text-decoration: underline;
}

.footer_copyright_bottom{
    width: 100%;
    text-align: center;
    color: #999;
    font-size: 12px;
    margin-top: 20px;
}

.footer_copyright_inner p{
    color: #999;
    font-size: 14px;
    width: 100%;
    text-align: center;
    font-size: 12px;
    margin: 20px 0px 10px 0px;

    
}



